*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-text;
  color: $color-dark;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 96px auto 0 auto;

  @media (max-width: 1200px) {
    padding: 0 15px;
    margin: 80px auto 0 auto;
  }

  @media (max-width: 992px) {
    max-width: 960px;
  }

  @media (max-width: 768px) {
    max-width: 720px;

    margin: 60px auto 0 auto;
  }

  @media (max-width: 576px) {
    max-width: 540px;

    margin: 40px auto 0 auto;
  }
}

.wrap {
  position: relative;
  @include box-flex();
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: $transition;

  &:hover {
    background-position: 0 100%;
  }

  @media (max-width: 768px) {
    min-width: 140px;
    padding: 12px;
  }

  @media (max-width: 576px) {
    min-width: 120px;
    padding: 10px;
  }
}

// Button Variants
.btn_one {
  border-color: $color-light;
  color: $color-light;
  background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);

  &:hover {
    color: $color-twoo;
  }
}

.btn_twoo {
  border-color: $color-three;
  color: $color-three;
  background-image: linear-gradient(90deg, $color-three 50%, transparent 50%);

  &:hover {
    color: $color-light;
  }
}

.btn_three {
  border-color: $color-twoo;
  color: $color-twoo;
  background-image: linear-gradient(90deg, $color-twoo 50%, transparent 50%);

  &:hover {
    color: $color-light;
  }
}

.btn_four {
  border-color: $color-one;
  color: $color-one;
  background-image: linear-gradient(90deg, $color-one 50%, transparent 50%);

  &:hover {
    color: $color-light;
  }
}

.btn_five {
  border: none;
  margin: 36px 0;
  padding: 0;
  text-align: left;
  color: $color-one;

  @media (max-width: 768px) {
    margin: 24px 0;
  }
}

.title {
  font-size: 48px;
  margin: 0 0 72px 0;

  @media (max-width: 992px) {
    font-size: 40px;
    margin: 0 0 60px 0;
  }

  @media (max-width: 768px) {
    font-size: 32px;
    margin: 0 0 48px 0;
  }

  @media (max-width: 576px) {
    font-size: 28px;
    margin: 0 0 36px 0;
  }
}

.article_title {
  font-size: 24px;
  margin: 0 0 12px 0;
  font-weight: bold;

  @media (max-width: 992px) {
    font-size: 22px;
  }

  @media (max-width: 768px) {
    font-size: 20px;
  }

  @media (max-width: 576px) {
    font-size: 18px;
  }
}
