.our_work {
  flex: 0 0 50%;
  position: relative;
  height: 300px;
  margin-bottom: 90px;
  &:nth-child(2),
  &:first-child {
    p {
      p:last-of-type {
        font-weight: 700;
      }
    }
  }

  @media (max-width: 992px) {
    flex: 0 0 100%;
    height: 250px;
    margin-bottom: 60px;
  }

  @media (max-width: 768px) {
    height: 200px;
    margin-bottom: 40px;
  }

  @media (max-width: 576px) {
    height: auto;
    margin-bottom: 30px;
    flex-direction: column;
  }
}

.image {
  position: absolute;
  width: 45%;
  height: 100%;
  max-width: 250px;
  &:after {
    content: '';
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  @media (max-width: 992px) {
    width: 50%;
  }

  @media (max-width: 768px) {
    width: 40%;
  }

  @media (max-width: 576px) {
    position: relative;
    width: 100%;
    height: 250px;
    max-width: none;
    margin-bottom: 15px;
  }
}

.image-one {
  &:after {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    background-color: $color-twoo;
    opacity: 0.3;
    transition: transform 300ms ease-in-out;
    pointer-events: none;
  }
  &:hover:after {
    transform: translate(-20px, -20px);
    animation: animate-one 200s ease;
  }

  @media (max-width: 576px) {
    &:after {
      top: 10px;
      left: 10px;
    }
  }
}

.description {
  padding: 36px 0% 36px 55%;
  text-align: left;

  @media (max-width: 992px) {
    padding: 24px 0 24px 40%;
  }

  @media (max-width: 768px) {
    padding: 20px 0 20px 50%;
  }

  @media (max-width: 576px) {
    padding: 15px 0;
    text-align: center;
  }
}

@keyframes animate-one {
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
